.major {
            margin: 60px 100px 0 100px;
            padding: 20px;
        }
        .item {
            display: none;
        }

        .comment-area {
            margin-top: 2em;
        }
        h3.comment-area-title {
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.4em;
        }
        .comment-title {
            height: 68px;
        }
        .django-ckeditor-widget {
            width: 100%;
        }
        .robot {
            color: #1f1db8;
        }